<footer class="footer">
    <div class="container">

        <div class="footer__inner">

        <div class="footer__item footer__item--first">
            <div class="footer__logo">MoGo</div>
            <div class="footer__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur earum blanditiis saepe? Eligendi sit hic ipsum consequuntur tempora optio incidunt!</div>

            <div class="footer__followers">
                <span class="footer__folowers-count">15k</span>
                <span class="footer__folowers-foll">followers</span>
            </div>

            <div class="footer__socials">
                Follow Us:
                <a href="#" target="_blank">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fab fa-pinterest-p"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fab fa-google-plus-g"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fab fa-tumblr"></i>
                </a>
            </div>

            <form class="form__subscribe" action="/">
                <input class="form__subscribe-input" type="text" placeholder="your email...">
                <button class="form__subscribe-btn" type="submit">Subscribe</button>

            </form>

        </div><!--footer__item-->

        <div class="footer__item footer__item--second">

            <div class="footer__title">BlogS</div>

            <div class="footer__blog">
                    <img src="assets/images/footer/1.jpg" alt="" class="footer__blog-img">
                    <div class="footer__blog-content">
                    <a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing.</a>
                    <div class="footer__blog-date">Jan 9, 2016</div>
                </div>
            </div>
            <div class="footer__blog">
                    <img src="assets/images/footer/2.jpg" alt="" class="footer__blog-img">
                    <div class="footer__blog-content">
                    <a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing.</a>
                    <div class="footer__blog-date">Jan 9, 2016</div>
                </div>
            </div>
            <div class="footer__blog">
                    <img src="assets/images/footer/3.jpg" alt="" class="footer__blog-img">
                    <div class="footer__blog-content">
                    <a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing.</a>
                    <div class="footer__blog-date">Jan 9, 2016</div>
                </div>
            </div>


        </div><!--./footer__item--second-->

        <div class="footer__item footer__item--third">

            <div class="footer__title">Instagram</div>

            <div class="instagram">

                <a href="#" class="instagram__grid">
                    <div class="instagram__item">
                        <img src="assets/images/instagram/1.jpg" alt="">
                    </div>
                    <div class="instagram__item">
                        <img src="assets/images/instagram/2.jpg" alt="">
                    </div>
                    <div class="instagram__item">
                        <img src="assets/images/instagram/3.jpg" alt="">
                    </div>
                    <div class="instagram__item">
                        <img src="assets/images/instagram/4.jpg" alt="">
                    </div>
                    <div class="instagram__item">
                        <img src="assets/images/instagram/5.jpg" alt="">
                    </div>
                    <div class="instagram__item">
                        <img src="assets/images/instagram/6.jpg" alt="">
                    </div>
                    <div class="instagram__item">
                        <img src="assets/images/instagram/7.jpg" alt="">
                    </div>
                    <div class="instagram__item">
                        <img src="assets/images/instagram/8.jpg" alt="">
                    </div>
                    <div class="instagram__item">
                        <img src="assets/images/instagram/9.jpg" alt="">
                    </div>

                </a>

                    <div class="instagram__bottom">
                        <a href="#">View more photos...</a>
                    </div>
            </div>


        </div>

     </div><!--./footer__inner-->

        <div class="copyright">
            © 2016 MoGo free PSD template by <span>Laaqiq</span>
        </div>
    </div>

</footer>
