<header class="header">
    <div class="container">

        <div class="header__inner">

    <div class="header__top">
        <div class="header__logo">MoGo</div>
        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__list-item">
                    <a href="#" class="header__link active">about</a>
                </li>
                <li class="header__list-item">
                    <a href="#" class="header__link">service</a>
                </li>
                <li class="header__list-item">
                    <a href="#" class="header__link">work</a>
                </li>
                <li class="header__list-item">
                    <a href="#" class="header__link">blog</a>
                </li>
                <li class="header__list-item">
                    <a href="#" class="header__link">contact</a>
                </li>
                <li class="header__list-item">
                    <button class="btn-shoping" type="button">
                        <img src="../assets/images/header/SHOPPING CART.png" alt="">
                    </button>
                </li>
                <li class="header__list-item">
                    <button class="btn-shoping" type="button" >
                        <img src="../assets/images/header/MAGNIFYING GLASS.png" alt="">
                    </button>
                </li>
            </ul>
        </nav>
    </div>

    <div class="header__middle">
        <h2 class="header__suptitle">Creative template</h2>
        <h1 class="header__title">welcome to mogo</h1>

            <a href="#" class="btn">Learn more</a>
    </div>


    <div class="header__bottom">
        <div class="slider">
            <div class="slider__item active">
               <span class="slider__number">01</span> intro
            </div>

            <div class="slider__item active">
               <span class="slider__number">02</span> work
            </div>

            <div class="slider__item active">
               <span class="slider__number">03</span> about
            </div>

            <div class="slider__item active">
               <span class="slider__number">04</span> contacts
            </div>
        </div>
    </div>

</div><!--./header__inner-->
    </div>
</header>
